
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="about" class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="{% static 'images/my_image.jpg' %}" alt="Kaushal Kumar">
        </div>
        <div class="about-text">
            <h2>About Me</h2>
            <p>Hello! I'm Kaushal Kumar, a passionate and enthusiastic developer from India. With a love for coding and a drive to learn, I've been developing web applications and working on various projects. I'm always eager to take on new challenges and collaborate with like-minded individuals.</p>
        </div>
    </div>
</section>

{% endblock %}

