{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="resume" class="animated-section">

    <!-- Download Resume Section - Right side -->
<div class="download-resume" style="text-align: right; margin-top: 20px;">

    <a href="{% static 'docs/kaushalCV.pdf' %}" download="Kaushal_Kumar_Resume.pdf" class="download-btn" style="font-size: 14px; padding: 5px 10px; border: 1px solid #ccc; text-decoration: none; background-color: #4CAF50; color: white; border-radius: 5px;">Download Resume (PDF)</a>
</div>


<h2 class="section-title">Resume</h2>
<h3>KAUSHAL KUMAR</h3>
<h4>| +91-9897192426 | <a href="mailto:mrkaushalkumar98@gmail.com" class="active-link">mrkaushalkumar98@gmail.com</a> |</h4>
<h4>| LinkedIn: <a href="https://www.linkedin.com/in/kaushal-kumar-759561253/" target="_blank" class="active-link">https://www.linkedin.com/in/kaushal-kumar-759561253/</a> |</h4>
<h4>| Portfolio: <a href="#" target="_blank" class="active-link">www.kaushalkumar.com</a> |</h4>


    <!-- Career Objective Section -->
    <h3 class="subheading">CAREER OBJECTIVE:</h3>
    <p>To work in a professionally managed corporate environment where I will have the opportunity for learning and growth, especially in Automotive Customer Quality, and my competence will enhance the productivity and effectiveness of your organization.</p>

    <!-- Summary Section -->
    <div class="summary">
        <h3 class="subheading">SUMMARY/OVERVIEW:</h3>
        <p>
            <b>Web Developer</b> with excellent problem-solving skills and the ability to perform well in a team. Involved in Product Development and testing of Products. Worked on many Projects. Having a <b>B.C.A. (Bachelor of Computer Application)</b> with a good percentage and currently pursuing <b>M.C.A. (Master of Computer Application).</b> Excellent interpersonal skills combined with technical and analytical skills.
        </p>
        <p>
            • Dynamic professional with experience in different projects related to Python with Django Framework. <br>
            • Having a very good academic score of CGPA (7.47) in B.C.A. (Bachelor of Computer Application). <br>
            • Very good at Programming Languages and different Frameworks.
        </p>
    </div>

    <!-- Key Skills Section -->
    <h3 class="subheading">Key Skills:</h3>
    <p>C, Python, HTML, CSS, JavaScript, Bootstrap, jQuery, SQLite, MySQL, DSA & Django Framework with Rest API.</p>

    <!-- Projects Section -->
    <div class="projects">
        <h3 class="subheading">PROJECTS:</h3>
        <ul>
            <li><strong>Car-Rental Booking System:</strong> A project to make rented cars or vehicles available for people. <br>
                <strong>Technologies Used:</strong> Python, Django, HTML, CSS, Bootstrap.</li>
            <li><strong>Image-Uploader:</strong> An image uploading platform with features like upload, review, delete. <br>
                <strong>Technologies Used:</strong> Python, Django, HTML, CSS.</li>
            <li><strong>Instagram Clone:</strong> A social media platform with features like user authentication, post creation, and following other users. <br>
                <strong>Technologies Used:</strong> HTML, CSS, JavaScript.</li>
            <li><strong>E-commerce Website:</strong> An online shopping platform with product listings, shopping cart, and payment integration. <br>
                <strong>Technologies Used:</strong> Python, Django, HTML, CSS, JavaScript, Bootstrap, MySQL.</li>
        </ul>
    </div>

    <!-- Certifications Section -->
    <div class="certifications">
        <h3 class="subheading">CERTIFICATIONS:</h3>
        <ul>
            <li>Bachelor of Computer Application (B.C.A.)</li>
            <li>Software Engineer Intern Certification (HackerRank)</li>
            <li>Programming Language "C" & "DSA" Certification</li>
            <li>Python Programming Language Certification</li>
            <li>Django Framework & Rest API Certification</li>
        </ul>
    </div>

    <!-- Work Experience Section -->
    <div class="work-experience">
        <h3 class="subheading">WORK EXPERIENCE:</h3>    
        <p><strong>Intern - WalkingTree Technology (July 2024 to September 2024):</strong> Worked as a 3-month intern focusing on Python, database management, Django Rest API, HTML, CSS, and JavaScript. Gained practical experience in backend development and API integration.</p>
        
        <p><strong>Intern - Career Compiler (January 2024 to June 2024):</strong> Completed a 6-month internship as a Full Stack Web Developer. Worked on both front-end and back-end technologies, including HTML, CSS, JavaScript, Python, and Django. Contributed to developing and maintaining full-stack web applications.</p>
    </div>

    <!-- Education Section -->
    <div class="education">
        <h3 class="subheading">EDUCATIONAL PROFILE:</h3>
        <ul>
            <li><strong>Master of Computer Application (M.C.A.) (Pursuing):</strong> Dr. A.P.J. Abdul Kalam Technical University, Lucknow, India</li>
            <li><strong>Bachelor of Computer Application (B.C.A.):</strong> Dr. Bhimrao Ambedkar University, Agra, India (2021-24)</li>
            <li><strong>12th:</strong> UP. Board, India (2021)</li>
            <li><strong>10th:</strong> UP. Board, India (2019)</li>
        </ul>
    </div>

    <!-- Academic Projects Section -->
    <div class="academic-projects">
        <h3 class="subheading">ACADEMIC PROJECT:</h3>
        <ul>
            <li><strong>Line Follower Robot (LFR):</strong> Worked as coordinator & prepared the project within the target timeline. Line Follower Robot (LFR) is a simple autonomously guided robot that follows a line drawn on the ground to detect either a dark line on a white surface or a white line on a dark surface.</li>
            <li><strong>Smart Irrigation System:</strong> Developed a project for automatic irrigation using sensors that detect soil moisture levels. The system activates the water supply based on the moisture content, ensuring water conservation. <br>
                <strong>Technologies Used:</strong> Arduino, Sensors, IoT, Python, and JavaScript.</li>
        </ul>
    </div>

    <!-- Summer Training Section -->
    <div class="summer-training">
        <h3 class="subheading">SUMMER TRAINING:</h3>
        <p>Seven-Week Training in <strong>VISION AUTOMATION SOLUTION</strong> focusing on <strong>PLC</strong> and <strong>SCADA</strong> systems.</p>
    </div>

    <!-- NIMI Projects Section -->
    <div class="nimi-projects">
        <h3 class="subheading">NIMI PROJECTS:</h3>
        <ul>
            <li>Calculator</li>
            <li>Calendar</li>
            <li>Paint</li>
            <li>Notepad</li>
        </ul>
    </div>

    <!-- Personal Details Section -->
    <div class="personal-details">
        <h3 class="subheading">PERSONAL DETAILS:</h3>
        <ul>
            <li><strong>Nationality:</strong> Indian</li>
            <li><strong>Father's Name:</strong> Mr. Mehtab Singh</li>
            <li><strong>Language Known:</strong> English, Hindi</li>
            <li><strong>Marital Status:</strong> Unmarried</li>
            <li><strong>Current Address:</strong> Agra (Uttar Pradesh)</li>
        </ul>
    </div>

    <!-- Declaration Section -->
    <div class="declaration">
        <h3 class="subheading">DECLARATION:</h3>
        <p>I hereby declare that the above furnished information is correct to the best of my knowledge and belief.</p>
    </div>

<!-- Date and Signature Section -->
<div class="date-signature">
    <p style="display: flex; justify-content: space-between; align-items: center;">
        <span>Date: ……………………..</span>
        <span style="text-align: right;"><strong>Kaushal Kumar</strong></span>
    </p>
</div>



</section>
{% endblock %}

